@import "../../assets/styles/colors";
@import "../../assets/styles/proportions";
@import "../../assets/styles/animations";

.DetailsModal {
  background-color: $background-color;
  box-shadow: $item-shadow;
  width: 400px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $component-border-radius;
  z-index: 2;

  &_Header {
    display: flex;
    flex-direction: column;
  }

  &_ActionButtons {
    align-self: flex-end;
  }

  &_Title {
    color: $text-color;
    text-shadow: $text-shadow-black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    text-align: center;
  }

  &_Img {
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
  }

  &_Content {
    padding-left: 10px;

    &_Paragraph {
      color: $text-color;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
