@import "../../assets/styles/background-images";
@import "../../assets/styles/colors";
@import "../../assets/styles/proportions";
@import "../../assets/styles/animations";

.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: $auth-page-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  overflow-y: auto;
}

.AuthDialog {
  background-color: $background-color;
  box-shadow: $item-shadow;
  margin: auto;
  border-radius: $component-border-radius;
  width: 500px;
  padding-bottom: 20px;
}

.AuthDialog_header {
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: right;
}

.AuthDialog_header_text {
  color: $text-color;
  font-size: 30px;
  text-align: justify;
  text-align-last: center;
}

.AuthDialog_header_textAuthor {
  color: $text-color;
  font-size: $header-text-size;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $text-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $text-color;
}

.AuthDialog_form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AuthDialog_form_field {
  color: $text-color;
  height: 25px;
  background-color: $form-field-color;
  border: none;
  border-color: transparent;
  margin-bottom: 20px;
  border-radius: $form-field-border-radius;
}

.AuthDialog_form_error {
  color: $error-text-color;
  padding-bottom: 10px;
  font-weight: bold;
}

.AuthDialog_formActions {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.AuthDialog_formActions_button {
  background-color: $form-action-button-color;
  box-shadow: $item-shadow;
  border: none;
  border-color: transparent;
  width: 100px;
  height: 40px;
  border-radius: $form-action-button-border-radius;
  color: $text-color;
  transition: transform 1s;
}

.AuthDialog_formActions_button:hover {
  box-shadow: $item-shadow-hover;
  transform: scale(1.1);
}
