@import "../../assets/styles/background-images";

.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: $auth-page-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  overflow-y: auto;
}
