@import "../../assets/styles/colors";
@import "../../assets/styles/proportions";
@import "../../assets/styles/animations";

.Popup {
  background-color: $background-color;
  box-shadow: $item-shadow;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  height: 50px;
  border-bottom-left-radius: $component-border-radius;
  border-bottom-right-radius: $component-border-radius;
  z-index: 2;
}

.Popup_text {
  top: 50%;
  text-align: center;
  font-weight: bold;
  text-shadow: $text-shadow-black;
}

.Popup {
  opacity: 1;
  animation: fade 5s 1s ease 1 both;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}
