@import '../../assets/styles/colors';
@import '../../assets/styles/proportions';

.Input {
  /* needs to be changed */
  width: 180px;
  background-color: $form-field-color;
  border-radius: $form-field-border-radius;
  color: $text-color;
  height: 50px;
  border: none;
  border-color: transparent;
  margin-bottom: 20px;
}

.Input_paragraph{
  padding: 5px;
  margin: 0px;
  text-align: justify;
  font-size: 13.3333px;
}
