.main-navigation__container {
  background-color: rgba(25, 25, 25);
  /*border: 2px solid red;*/
}

.main-navigation__items {
  margin-top: 0px;
  margin-bottom: 0px;
  /*margin: 10px;*/
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
