.MainNavigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.MainNavigation__items {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
