.item_container {
    list-style-type: none;
    padding: 10px;
  }
  
  .item_element {
    background-color: silver;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    color: white;
  }
  