@import "../../../assets/styles/colors";
@import "../../../assets/styles/proportions";
@import "../../../assets/styles/animations";
@import "../../../assets/styles/icons";

.TableActionButton_deleteButton {
  margin: 5px 5px 0px 0px;
  border: none;
  border-radius: $component-border-radius;
  background-color: transparent;
}

.TableActionButton_deleteButton:hover {
  box-shadow: $item-shadow-hover;
  transform: $scale-hover;
  background-color: $red-button-color;
}

.TableActionButton_deleteButton___icon {
  filter: invert(100%);
  width: 20px;
  height: 20px;
  z-index: 1;
  content: url("../../../assets/icons/delete.svg");
}

.TableActionButton_updateButton {
  margin: 5px 5px 0px 0px;
  border: none;
  border-radius: $component-border-radius;
  background-color: transparent;
}

.TableActionButton_updateButton:hover {
  box-shadow: $item-shadow-hover;
  transform: $scale-hover;
}

.TableActionButton_updateButton___icon {
  filter: invert(100%);
  width: 20px;
  height: 20px;
  z-index: 1;
  content: url("../../../assets/icons/update.svg");
}
