@import "../../assets/styles/colors";
@import "../../assets/styles/proportions";
@import "../../assets/styles/animations";

.Table {
  width: 60%;
  box-shadow: $item-shadow;
  background-color: $background-color;
  border-radius: $component-border-radius;
  margin: 10px;
}

th {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
}

thead > tr > th {
  color: $text-color;
  font-size: $header-text-size;
  padding: 0 20px;
}

tbody > tr > th {
  color: $text-color;
  font-size: $content-text-size;
}

tr {
  height: 50px;
}

th:last-child {
  border-right: 0;
}

td:last-child {
  border-right: 0;
}

tbody > tr:last-child > th {
  border-bottom: 0;
}

.ActionButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
