$seeds-page-background: url("../../assets/background-images/seeds_background.jpg");
$seedlings-page-background: url("../../assets/background-images/seedlings_background.jpg");
$auth-page-background: url("../../assets/background-images/forester_auth_background.jpg");
$map-page-background: url("../../assets/background-images/map_background.jpg")