$background-color: rgba(25, 25, 25, 0.8);
$modal-background-color: #191919;
$button-color: #191919;
$red-button-color: #9c1e1e;
$backdrop-color: rgba(0, 0, 0, 0.5);
$form-action-button-color: #505050;
$form-field-color: #707070;
$loading-indicator-color: #0a8a00;
$text-color: #ffffff;
$error-text-color: #b30000;
$spinner-color: #0a8a00;
$table-border-color: #707070;
