$add-icon: url("../../assets/icons/plus.svg");
$close-icon: url("../../assets/icons/close.svg");
$update-icon: url("../../assets//icons/update.svg");
$delete-icon: url("../../assets/icons/delete.svg");
$migrate-icon: url("../../assets/icons/migrate.svg");